* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f6e8;
}

input[type="text"] {
    padding: 5px;
}

button {
    padding: 1px;
}

button:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #ff00ae;
}

h3 {
    text-align: right;
    padding-right: 42px;
    margin-top: -25px;
}

form {
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 500px;
}

.shopping-item-controls{
    position: absolute;
    right: 0;
    bottom: 0;
}

#shopping-list-item {
    width: 250px;
}

header,
.container {
    max-width: 600px;
    margin: 0 auto;
}

.shopping-list {
    list-style: none;
    padding-left: 0;
}

.shopping-list>li {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 5px;
}

.shopping-item {
    display: block;
    font-style: italic;
    font-size: 50px;
    margin-bottom: 5px;
}

ul li:nth-child(even) {
    background-color: #ff00ae;
    color: white;
}

ul li:nth-child(odd) {
    background-color: #00face;
    color: black;
}


.shopping-item__checked {
    text-decoration: line-through;
}